<header>
    <div class="navegacion-responsive">
<div class="navegacion">
    <div class="logo">
        <a href="/"><img src="/images/logo-mercado-liebre.svg" alt=""></a>
    </div>
    <div class="busqueda">
        <input type="search" name="" id="" placeholder="Buscar Productos, marcas">
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</div>
    <p class="compra"> <i class="fa-solid fa-hand-holding-dollar"></i>compra en cuotas y sin tarjeta de crédito</p>
</div>
    <nav>
        <ul class="listaSuperior">
            <li>
                <a href="">Ofertas</a>
            </li>
            <li>
                <a href="">Tiendas Oficiales</a>
            </li>
            <li>
                <a href="">Vender</a>
            </li>
            <li>
                <a href="">Ayuda</a>
            </li>
        </ul>

        <ul class="listaInferior">
            <li>
                <a href="/register">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a>
            </li>
            <li>
                <a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a>
            </li>
            <li>
                <a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
            </li>
        </ul>
    </nav>
    <div class="hamburguesa">
        <i class="fa-solid fa-bars"></i>
    </div>
</header>